:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    color: #fff;
    background-color: #242424;
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.btn {
    padding: 1rem;
    border-radius: 6px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: transform 0.1s;
    color: #fff;
}

.btn:hover {
    transform: scaleX(0.99);
}
